<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Dita Docs</a>
      </div>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Project</div>
          <div class="navbar-dropdown" style="right: 0;left: auto;">
            <div class="navbar-item"><strong>Sponsorship</strong></div>
            <a class="navbar-item" href="https://nutrition.univie.ac.at/en/">Department of Nutritional Sciences (University of Vienna)</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Github</strong></div>
            <a class="navbar-item" href="https://github.com/univie-nutrition/dita">Repository</a>
            <a class="navbar-item" href="https://github.com/univie-nutrition/dita/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Community</strong></div>
            <a class="navbar-item" href="https://univie-nutrition.github.io/dita/component-main/1.0.0/Contributing.html">Contributing</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>