/* domain object styling */

.default-color {
  color: DimGray;  
}
.brand-color {
  color: DeepPink;
}
.food-color {
  color: forestgreen;
}
.food-color-em {
  color: olive;
}
.recipe-color {
  color: darkkhaki;
}
.recipe-color-em {
  color: olive;
}
.version-color {
  color: BlueViolet;
}

/* fa overlay generic */

.ov-size-60 {
  font-size: 0.6em;
  background-image: radial-gradient(circle at center, white 28%, transparent 32%);
}
.ov-size-80 {
  font-size: 0.8em;
  background-image: radial-gradient(circle at center, white 42%, transparent 50%);
}
.ov-left-50 {
  left: -0.5em;
}
.ov-right-50 {
  left: 0.5em;
}
.ov-right-55 {
  left: 0.55em;
}
.ov-right-65 {
  left: 0.65em;
}
.ov-right-85 {
  left: 0.85em;
}
.ov-bottom-55 {
  top: 0.55em;
}
.ov-bottom-65 {
  top: 0.65em;
}
.ov-bottom-85 {
  top: 0.85em;
}

/* theme colors */
:root {
	--bs-primary-rgb: 80,101,168;
    --link-color: steelblue;
    --link-color-hover: rgb(10, 70, 140);
   	/* fixates alert button and toast colors, as with causeway-bootstrap-growl.js, we have hardcoded white text */
	--bs-info: #3498db;
	--bs-warning: #f39c12;
	--bs-danger: #e74c3c;
	--bs-info-rgb: 52,152,219;
	--bs-warning-rgb: 243,156,18;
	--bs-danger-rgb: 231,76,60;
}
.navbar-dark {
  	--bs-navbar-color: rgba(255, 255, 255, 0.85);
}

.select2-container.input-sm .select2-choice,
.input-group-sm .select2-container .select2-choice {
    height: 33px;
}

.select2-container.select2-container-disabled .select2-choice,
.select2-container.select2-container-disabled .select2-choices {
    background-color: #ecf0f1;
}

header nav.navbar {
	padding: 0.5rem 0.5rem;
}
header .navbar-header .navbar-brand {
	padding-bottom: 0px;
}

/* ascii-doc */
table.grid-all>*>tr>*,
table.frame-all{
	border-width:1px;
	border-color:var(--bs-border-color);
}