/* domain object styling */

.fa-deeppink,
.fa-do-brand {
	color: DeepPink;
}
.fa-darkgreen,
.fa-do-food {
	color: darkgreen;
}
.fa-olive {
	color: olive;
}
.fa-red {
	color: red;
}
.fa-orange {
    color: orange;
}
.fa-mediumblue {
    color: mediumblue;
}
.fa-steelblue {
    color: steelblue;
}

.fa-blueviolet,
.fa-do-version {
	color: blueviolet;
}

/* theme colors */
:root {
	--bs-primary-rgb: 80,101,168;
    --link-color: steelblue;
    --link-color-hover: rgb(10, 70, 140);
   	/* fixates alert button and toast colors, as with causeway-bootstrap-growl.js, we have hardcoded white text */
	--bs-info: #3498db;
	--bs-warning: #f39c12;
	--bs-danger: #e74c3c;
	--bs-info-rgb: 52,152,219;
	--bs-warning-rgb: 243,156,18;
	--bs-danger-rgb: 231,76,60;
}
.navbar-dark {
  	--bs-navbar-color: rgba(255, 255, 255, 0.85);
}

.select2-container.input-sm .select2-choice,
.input-group-sm .select2-container .select2-choice {
    height: 33px;
}

.select2-container.select2-container-disabled .select2-choice,
.select2-container.select2-container-disabled .select2-choices {
    background-color: #ecf0f1;
}

header nav.navbar {
	padding: 0.5rem 0.5rem;
}
header .navbar-header .navbar-brand {
	padding-bottom: 0px;
}

/* ascii-doc */
table.grid-all>*>tr>*,
table.frame-all{
	border-width:1px;
	border-color:var(--bs-border-color);
}